@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Noto Sans TC", sans-serif;
  }
  h1 {
    @apply text-xl  font-bold xl:text-[36px] 2xl:text-[40px];
  }
  h2 {
    @apply text-3xl font-bold sm:text-[40px] md:text-[48px] xl:text-[74px];
  }
  h3 {
    @apply text-xl font-bold md:text-[36px] xl:text-[40px];
  }
}

@layer components {
  .mark-box {
    @apply h-[15px] w-[15px] bg-primary sm:h-[20px] sm:w-[20px] md:h-[20px]  md:w-[20px];
  }
}

@layer utilities {
  .container-custom {
    @apply px-4 sm:px-5 md:px-8 xl:px-10 2xl:px-16;
  }

  /* 第一區塊漸層 */
  .bg-liner-1 {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.76) -50.66%,
      rgba(0, 0, 0, 0) 18.13%
    );
  }

  /* 第二區塊漸層 */
  .bg-liner {
    background: linear-gradient(
      101.99deg,
      rgba(0, 0, 0, 0.8) -3.91%,
      rgba(45, 82, 61, 0.8) 40.22%,
      rgba(0, 0, 0, 0.8) 87.97%
    );
  }
  .bg-liner-2 {
    background: linear-gradient(
      180deg,
      rgba(204, 204, 204, 0) 8.76%,
      #cccccc 51.69%,
      rgba(204, 204, 204, 0) 100.08%
    );
  }
  .triangle {
    position: absolute;
    width: 26.87px;
    height: 0px;
    left: 788px;
    top: 2364px;

    border: 1px solid #ffffff;
    transform: rotate(-135deg);
  }
  .bg-none {
    background-image: none;
  }
}
